body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#app {
    margin: 20px;
}

.chart-section {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: left; /* Align text to the left */

}
.chart-row {
    display: flex; /* Use Flexbox */
    align-items: center; /* Align items vertically in the middle */
    justify-content: space-between; /* Space out items */
}

.total-xp{
    font: bold;
    font-size: large;
    font-style: normal;
    font-weight: bold;
}

.chart-container {
    margin-top: 10px;
}

h2 {
    color: #007bff;
}

@media screen and (min-width: 768px) {
    .chart-section {
        /* No need for a grid if there's only one column */
        padding: 20px;
        margin-bottom: 20px;
    }

    .chart-container {
        /* Adjustments for chart container if needed */
    }
}

.logout-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 20px;
}

.logout-button:hover {
    background-color: #d32f2f;
}
